@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
:root {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Overpass', sans-serif;
    --light-red: hsl(356, 100%, 66%);
    --very-light: hsl(355, 100%, 74%);
    --very-dark-blue:: hsl(208, 49%, 24%);
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --very-dark-grayish-blue: hsl(207, 13%, 34%);
    --very-dark-black-blue: hsl(240, 10%, 16%);
    --intro-gradient-light: hsl(13, 100%, 72%);
    --intro-gradient-dark: hsl(353, 100%, 62%);
    --body-gradient-light: hsl(237, 23%, 32%);
    --body-gradient-dark: hsl(237, 17%, 21%);
}

*{
    margin:0;
    padding:0;
}

/* font-family: 'Overpass', sans-serif; */

body {
    background: var(--White);
    font-family: 'Overpass', sans-serif;
    
    
}


main{
    width:80vw;
    display: flex;
    flex-direction:column;
    align-items: center;
    
}

.bg-top{
    background-image:url('./images/bg-pattern-intro-mobile.svg'), linear-gradient(var(--intro-gradient-light), var(--intro-gradient-dark));
    background-position: left -250px top 0px;
    background-size: cover;
    height: 90vh;
    color: var(--white);,
    border-radius: 0 0 0 60px;
   
    
    
    
}



.navbar{
    width:100%;
    justify-content: flex-start;
    
}


.navbar-brand {

    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--white);
}

nav {
    background-color:none;
    
    
    
}

#top {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-left: 1.2em;
    padding-top: 1.2em;
   
    
    
    
}

#top h1 {
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-top: 3em;
    
}

#top h2 {

    font-size: 0.8rem;
    font-weight: 300;
    margin: 30px;
}


.navbar-toggler{border: 0}
.navbar-toggler-icon
{
background-image: url("./images/icon-hamburger.svg")
}

.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {

background-image: url("./images/icon-close.svg")
}

.navbar-collapse {
    
    background-color: var(--white);
    border-radius: 5px;
    text-align:center;
    padding:1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.137), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
    position:absolute;
    top:0;
}

.dropdown-menu{
   background-color:hsl(240, 7%, 94%); 
   text-align:center;
   line-height: 1.6;
   margin-bottom:2rem;
   border:0;
   padding:20px;
 
  
   
   
}
.btn-light, .btn-outline-light{
    border-radius: 25px;
    margin:0.5rem
}

.nav-link, .nav-item, .dropdown-item{
    color:black;
    font-weight:700;
}

.login{
    border-top: var(--grayish-blue) 1px solid;
    padding-top: 2em;
    
}
.signup {
    background-image: linear-gradient(var(--intro-gradient-light), var(--intro-gradient-dark));
    color: var(--white);
    margin:5px auto;
    border-radius: 25px;
    padding:7px 30px 7px;
}

#section-2 {
    height:100vh;
    display:flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

footer {
    background: var(--very-dark-black-blue);
    height: 100%;
    position: relative;
    bottom: 0;
    border-radius: 0 100px 0 0;

}

.footer-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    color: var(--grayish-blue);
    padding:3em;
    
   
   

}

footer li {
    list-style: none;
    font-weight:400;
}

footer li.head {
    font-weight:700;
    color: #f5f5f5;
    margin-bottom: 20px;
    margin-top: 25px;
}



  .attribution{
    color: var(--light-red)
  }

@media screen and (min-width:576px) {

    nav ul{
        list-style: none;
        flex-direction: row;
        justify-content: space-around;
        align-items:center;     
    }

    .bg-top{
        background-image: url('./images/bg-pattern-intro-desktop.svg'), linear-gradient(to right, var(--intro-gradient-light), var(--intro-gradient-dark));
        height: 60vh;
        background-position: left 0px top -500px;
    }

    .navbar-collapse{
        background-color:initial;
        border-radius: initial;
        box-shadow: initial;
        top:initial;
        position: relative;
   
    }

    .nav-link a {
        color: var(--white)
    }
    .nav-item {
       
    }

    .btn-light{
        color: var(--light-red);
        font-weight:700;
    }
    .nav-item {
        position: absolute;
        right: 130px;
        color: var(--white)
        
    }
  
  
    .login{
        border-top: unset;
        padding-top: unset;
        
    }
    .signup {  
        color:inherit;
        background-color: var(--white);
        background-image:none;
        color: var(--light-red);
        position: absolute;
        right: 0px;
    }

    .footer-flex {
        
        flex-direction: row;
        justify-content: space-around;
        width: 80vw;
        
    }
    
    footer li.head {

        font-weight:700;
        color: #f5f5f5;
        margin-bottom: 20px;
        margin-top: 8px;
}
}